@import '../../styles/global.scss';

#contact {
  margin: 100px 120px;
  
  .contact__wrapper {
    background-image: var(--linear-color);
    text-align: center;
    padding: 50px;
    border-radius: 20px;

    h1 {
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      color: var(--white-color);
    }

    .contact__buttons {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 40px !important;
  }
}

//Mobile
@media (max-width: 767px){
  #contact {
    margin: 20px;

    .contact__wrapper {
      padding: 20px;
      h1 {
        font-size: 20px !important;
      }
    }
  }

}