@import '../../styles/global.scss';

.aboutme {
  margin: 300px 50px 200px 50px;
  padding-top: 100px;

  .aboutme__story {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  
    .aboutme__story--journey {
      font-size: 25px;
      line-height: 40px;
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      p {
        text-align: justify;
      }
    
      strong {
        font-weight: 700;
        color: var(--white-color);
        padding: 3px;
        background: var(--linear-color);
        line-height: 50px;
      }
    }
  
    .aboutme__story--passion {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      
      img {
        width: 400px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
      }
      h4 {
        position: absolute;
        font-weight: 800;
        font-size: 5rem;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.6);
        padding-top: 4%;
        padding-left: 8%;
        text-transform: uppercase;
      }
    }
  }
}
