@import '../../styles/global.scss';

.aboutme {
  margin: 300px 50px 200px 50px;
  padding-top: 100px;

  .aboutme__story {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
  
    .aboutme__story--journey {
      font-size: 25px;
      line-height: 40px;
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      p {
        text-align: justify;
      }
    
      strong {
        font-weight: 700;
        color: var(--white-color);
        padding: 3px;
        background: var(--linear-color);
        line-height: 50px;
      }
    }
  
    .aboutme__story--passion {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      width: fit-content;
      
      img {
        position: relative;
        width: 400px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
      }
      h4 {
        position: absolute;
        font-weight: 800;
        font-size: 4rem;
        color: rgba(0, 0, 0, 0.6);
        padding-top: 4%;
        padding-left: 4%;
        text-transform: uppercase;
      }
    }
  }
}

 // Laptop
@media (min-width: 1024px) and (max-width: 1439px) {
  .aboutme {
    padding-top: 20px;

    .aboutme__story {
      margin-top: 50px;
      justify-content: space-around;

      .aboutme__story--journey {
        font-size: 18px;
        line-height: 180%;

        strong {
          line-height: 180%;
          text-align: right;
        }
      }

      .aboutme__story--passion {
        img {
          width: 300px;
        }

        h4 {
          font-size: 3.4rem;
        }
      }
    }
  }
}