@import '../../styles/global.scss';

.button {
  color: $--white-color;
  text-decoration: none;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: 0.25s ease-out;
  padding: 10px 30px;
  width: fit-content;

  &:hover {
    cursor: pointer;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
      -webkit-animation: bounce 0.4s infinite alternate;
      -moz-animation: bounce 0.4s infinite alternate;
      animation: bounce 0.4s infinite alternate;
    } 
}

.button--pink {
  color: $--white-color !important;
  background: $--linear-color;
}

.button--white {
  color: $--pink-color;
  background-color: $--white-color;
  border: none;
  font-weight: 300;
  
  &:hover {
      color: $--pink-color;
      background-color: $--white-color;
  }
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
to {
  -moz-transform: scale(1.2);
}
}
@keyframes bounce {
to {
  transform: scale(1.2);
}
}

.link {
    font-size: 25px;
    font-weight: 200;
    color: var(--white-color);
    display: inline-block;
    position: relative;
    margin-left: 50px;
    text-decoration: none;

    &:first-child {
        margin-left: 0;  
    }

    &:hover {
        color: $--white-color;
      }

    &::after {
        content: '';
        position: absolute;
        width: 50%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 25%;
        background-color: $--white-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease;
      }

    &:hover:after {
        cursor: pointer;
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

#aboutme__skillsets {
  margin-top: 20px;
}

#my-work {
  border: 3px solid $--white-color;
  margin-left: 50px;
}

#source-code {
  margin-left: 10px;
}

.contact-info {
  margin-left: 40px;
  font-size: 50px;

  &:first-child {
    margin-left: 0;
  }
}

#downloadCV {
  margin-left: 20px;
}

#closeNav {
  display: none;
  padding: 0;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}


// Laptop
@media (min-width: 1024px) and (max-width: 1439px) {
  .button, .button--white, .button--pink, .link {
    font-size: 16px;
  }

  .link {
    margin-left: 20px;
  }

  .button--white, .button--pink {
    padding: 10px;
  }

  .contact-info {
    font-size: 40px;
    margin-left: 20px;
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  #closeNav {
    display: block;
  }

  #toggle {
    padding: 10px !important;
    font-size: 30px;
  }
  .button, .button--white, .button--pink, .link {
    font-size: 16px;
    text-align: center;
  }

  .link {
    padding: 10px 0px;
    color: $--pink-color;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover {
      padding: 10px 20px;
      color: $--white-color;
      background: $--linear-color;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      transform: scaleX(0);
      height: 2px;
      bottom: 5px;
      left: 25%;
      background-color: $--white-color;
      transform-origin: bottom right;
      transition: transform 0.25s ease;
    }

  &:hover:after {
      cursor: pointer;
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .button--white, .button--pink {
    padding: 10px;
  }

  .contact-info {
    font-size: 30px;
    margin-left: 20px;
  }

  #downloadCV {
    margin-left: 0;
    background: $--linear-color !important;
    color: $--white-color;
    font-size: 20px;

    &:hover {
     border: 2px solid $--pink-color;
    }
  }
}

//Mobile
@media (max-width: 767px) {
  #closeNav {
    display: block;
  }

  #toggle {
    padding: 10px !important;
    font-size: 30px;
  }

  .button {
    padding: 5px 10px !important;
  }

  .button, .button--white, .button--pink, .link {
    font-size: 12px;
    text-align: center;
  }

  .link {
    padding: 10px 0px;
    color: $--pink-color;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover {
      padding: 10px 20px;
      color: $--white-color;
      background: $--linear-color;
    }

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      transform: scaleX(0);
      height: 2px;
      bottom: 5px;
      left: 25%;
      background-color: $--white-color;
      transform-origin: bottom right;
      transition: transform 0.25s ease;
    }

  &:hover:after {
      cursor: pointer;
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .button--white, .button--pink {
    padding: 10px;
  }

  .contact-info {
    font-size: 30px;
    margin-left: 20px;
  }

  #downloadCV {
    margin-left: 0;
    background: $--linear-color !important;
    color: $--white-color;
    font-size: 14px;

    &:hover {
     border: 2px solid $--pink-color;
    }
  }
}