@import '../../styles/global.scss';

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 8%;

  #theme-img {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: -10000;
  }

  &::before {
    position: absolute;
    content: '';
    border: 2px solid var(--white-color);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    top: 20%;
    left: 28%;
  }

  &::after {
    position: absolute;
    content: '';
    background-color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    left: 20%;
    top: 35%;
  }

  h1 {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 90px;
   line-height: 140px;
   text-align: center;
   color: $--white-color;
  }
  
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: var(--white-color);
    padding: 40px 20%;

    &::before {
      position: absolute;
      content: '';
      border: 2px solid var(--white-color);
      border-radius: 50%;
      width: 27px;
      height: 27px;
      right: 20%;
      top: 40%;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: var(--white-color);
      border: 2px solid var(--white-color);
      border-radius: 50%;
      width: 47px;
      height: 47px;
      top: 18%;
      right: 25%
    }
    
  }
}

.homepage__buttons {
  display: flex;
  justify-content: center;
}

// Laptop L
@media (max-width: 2559px) {
 
}