@import '../../../index.css';

.aboutme {
  position: absolute;
  top: calc(var(--theme-height) - 350px);
  margin: 0 50px;
}

.aboutme__heading h2 {
  color: var(--pink-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.aboutme__story p:nth-child(1),
.aboutme__story p:nth-child(3) {
  font-size: 22px;
  width: 50%;
  text-align: right;
}

.aboutme__technical-skill img {
  height: 100px;
}

.aboutme__mypassion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mypassion__square {
  width: 200px;
  height: 300px;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(45deg, var(--pink-color), var(--orange-color));
}

.mypassion__text {
  position: absolute;
  font-weight: 800;
  font-size: 4rem;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.6);
}
