@import '../../../index.css';

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  height: 100%;
  margin-top: 8%;
}

.homepage h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
  color: var(--white-color);
}

.homepage p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: var(--white-color);
  padding: 20px 100px;
}

.homepage__buttons {
  display: flex;
  justify-content: center;
}

.homepage__button {
  width: 193px;
  height: 57px;
  border: none;
  box-shadow: 0px 9px 28px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  background: var(--linear-color);
  transition: 0.25s ease-in;

  background-size: 200% 100%;
  background-position: 100% 0;

  transition: background-position 0.5s;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

.homepage__button:first-child {
  margin-right: 50px;
}

.homepage__button:last-child {
  border: 3px solid var(--white-color);
}

.homepage__button:hover {
  background-image: var(--linear-color);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: bounce 0.4s infinite alternate;
  -moz-animation: bounce 0.4s infinite alternate;
  animation: bounce 0.4s infinite alternate;
}

.homepage__button a,
.homepage__button a:hover {
  color: var(--white-color);
  text-decoration: none;
}

/* Decoration */
.homepage::before {
  position: absolute;
  content: '';
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  top: 150px;
  left: 280px;
}

.homepage::after {
  position: absolute;
  content: '';
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  top: 300px;
  left: 200px;
}

.homepage p::before {
  position: absolute;
  content: '';
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  right: 15%;
  top: 300px;
}

.homepage p::after {
  position: absolute;
  content: '';
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  top: 150px;
}
