@import '../../styles/global.scss';

#skillsets {
  margin: 20px 50px;
  
  .skillsets__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  
    .technical-skill {
      padding-top: 90px;
  
      .technical-skill--knowledge {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 70px;
        flex-wrap: wrap;
        
        h3 {
          font-size: 30px;
          font-weight: 700;
          color: var(--white-color);
          padding: 10px 20px;
          background: var(--linear-color);
          width: max-content;
          border-radius: 10px;
        }
  
        .technical-skill--knowledge-list {
          display: flex;
          width: 100%;
          margin-top: 20px;
          flex-wrap: wrap;
  
          .technical-skill-item {
            display: flex;
            flex-direction: column;
           
            span {
              font-size: 27px;
              font-weight: 600;
            }
  
            img {
              height: 100px;
              margin: 30px;
            }
          }        
        }
      }
    }
  
    .decoration {
      width: 20%;
      border-radius: 20px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
      margin-top: 200px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .technical-skill {
    padding-top: 20px !important;
    
    .technical-skill--knowledge {
      padding-top: 20px !important;

      h3 {
        font-size: 24px !important;
      }

      .technical-skill--knowledge-list {
        .technical-skill-item {
          span {
            font-size: 20px !important;
            font-weight: 600;
          }
          img {
            height: 70px !important;
            margin: 23px !important
          }
        }
      }
    }
  }
}
