:root {
  --black-color: #000000;
  --pink-color: #ea047e;
  --orange-color: #ff6d28;
  --white-color: #ffffff;

  --theme-height: 1128.2px;
}

@font-face {
  font-family: 'Custom Handwriting';
  src: url(./assets/font/Dpdorkdiary-P267.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme {
  height: var(--theme-height);
  left: -380px;
  top: -114px;
  background: url('/src/assets/img/homepage.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden {
  display: none;
}
