:root {
  --black-color: #000000;
  --pink-color: #ea047e;
  --orange-color: #ff6d28;
  --white-color: #ffffff;
  --linear-color: linear-gradient(
    45deg,
    var(--pink-color),
    var(--orange-color)
  );
  --theme-height: 1128.2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}
