@import '../../index.css';

.navbar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.navbar__link {
  font-size: 24px !important;
  font-weight: 200 !important;
  color: var(--white-color) !important;
  display: inline-block;
  position: relative;
  margin-left: 50px;
}

.navbar__link::after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: var(--white-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar__link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
