@import '../../styles/global.scss';

.heading__wrapper {

    hr {
        border: 5px solid $--pink-color;
        opacity: 1;
        width: 10%;
    }

    .heading {
        h2 {
            color: $--pink-color;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 39px;
            margin-top: 10px;
        }

        h1 {
            font-weight: 800;
            font-size: 50px;
            margin-top: 10px;
        }
    
    }
}

// Laptop
@media (min-width: 1024px) and (max-width: 1439px) {
  .heading {
    h2 {
        font-size: 30px !important;
        line-height: 39px;
        margin-top: 30px;
    }

    h1 {
        font-size: 40px !important;
    }
  }
} 